<?xml version="1.0" ?>
<model>
    <name>migong</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>qixqi</name>
        <email>zhengxiang4056@gmail.com</email>
    </author>
    <description>
	The world of homework project.
    </description>
</model>
